<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery-ui.js"></script>
    <script type="text/javascript" src="jquery.browser.js"></script>
    <script type="text/javascript" src="jquery.layout.js"></script>
    <style>
        body {
            background-color: #eee;
            margin: 0;
            padding: 0;
        }

        .quickMock__toolbar {
            border-bottom: 1px solid grey;
            padding: 16px;
        }

        .quickMock__canvas {
            width: 1000px;
            height: 1000px;
        }
    </style>
</head>
<body>
    <div id="toolbar" class="quickMock__toolbar"></div>
    <div id="canvas" class="quickMock__canvas"></div>
    <script type="text/javascript">
    window.onload = function () {
        const { canvas, elements } = LibQMock.createApp('canvas', 1000, 1000)
        const win = elements.createWindow({ title: "Hello World 1", width: 400, height: 400})
        const win2 = elements.createWindow({ title: "Hello World 2", width: 100, height: 100})
        canvas.add(win, 100, 100)
        canvas.add(win2, 200, 200)
    }
    </script>
</body>
</html>
